
body {
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  text-align: center;
}

.container {
  width: 700px;
  margin: auto;
  padding: 20px 0px;
}

h1 {
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
}

#bigTitle {
  font-size: 7em;
  margin-bottom: 0em;
  margin-top: 30px;
}

select {
  width: 350px;
  height: 40px;
  overflow: hidden;
  background-color: white;
  background: url("https://img.icons8.com/ios/32/000000/down-squared.png") no-repeat right;
  border: thin solid turquoise;
  line-height: 1.5em;
  text-align: center;
  font-size: 1em;
  -webkit-appearance: none;

}

#centerSelect{
  text-align: center;
}

option {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

h2 {
  text-transform: uppercase;
  font-weight: 250;
  font-size: 3.5em;
  text-align: center;
}

.description {
  font-size: 15px;
}

h3 {
  color: #ffb800;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.5em;
  text-align: center;
}

.winner {
  color: #ffb800;
}

.winnerDiv{
  border-style: dotted;
  border-color: #ffb800;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px; 

}

h4 {
 display: inline;
 font-size: 1.5em;
 text-align: center;
}

span {
  margin-left: 20px;
  font-style: italic;
  font-weight: bold;
}

hr {
  margin-top: 30px;
}

.card {
  background-color: white;
  padding: 20px;
  margin: 25px;
  overflow: hidden;
  box-shadow: 5px 5px 10px #30CFD0;
}
